* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#rh-subnav {
	display: none;
}

.container {
	background: #85D8CE;
	background: linear-gradient(135deg, #085078, #85D8CE);
	width: 100%;
	padding: 100px;
	text-align: center;
}

h1 {
	font: bold 60px 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	color: white;
}

h2 {
	color: black;
	position: relative;
	font: normal 20px 'PT Serif', serif;
	z-index: 1;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto 25px;
	letter-spacing: 0.03em;
}

h2:before, h2:after {
	content: '';
	width: 40px;
	height: 3px;
	display:inline-block;
	background-color: black;
	vertical-align: 0.3em;
	margin: auto;
}

h2:before {
	margin-right: 0.75em;
}

h2:after {
	margin-left: 0.75em;
}

ul {
	margin: 15px auto;
}

li {
	color: black;
	font: normal 25px 'PT Serif', serif;
	display: inline-block;
	list-style-type: none;
	padding-left: 1em;
	padding-right: 1em;
	text-transform: uppercase;
}

li span {
	display: block;
	font-size: 4.5rem;
}

p {
	width: 70%;
	font: normal 20px 'PT Serif', serif;
	line-height: 35px;
	margin: 30px auto;
	color: black;
	text-align: left;
}

.center {
	margin: auto;
	text-align: center;
}
.ad > span {
	font-size: 10px;
	color: #999;
	font-family: sans-serif;
}